* { margin: 0; padding: 0;}
*{box-sizing: border-box} // 盒模型方便计算
*::before,*::after{box-sizing: border-box}
html {
	font-size: 16px; // rem
}

body {
	min-height: 100vh;
}

ul {
	list-style: none;
}